@media all
{
	.widefat thead th, .row-actions li
	{
		white-space: nowrap;
	}

	.alignleft, .alignright
	{
		width: 50%;
	}

	.toggler
	{
		box-shadow: none !important;
		cursor: pointer;
	}

	.mf_settings .alignleft
	{
		margin-right: 3%;
		width: 47%;
	}

		.mf_settings .form_textfield input, .mf_settings select, .mf_settings textarea, .mf_settings .form_password input
		{
			width: 100%;
		}

		.mf_form .alignleft, .mf_form .alignright
		{
			clear: none;
		}

	mf-form-row
	{
		border: .1em solid transparent;
		border-radius: .5em;
		box-sizing: border-box;
		cursor: move;
		display: block;
		position: relative;
		padding: .5em;
	}

		mf-form-row.active, mf-form-row:hover
		{
			margin: .5em;
		}

			mf-form-row:hover
			{
				background: #eee;
				border-color: #ccc;
			}

			mf-form-row.active
			{
				background: #fff6bf;
				border-color: #ffd324;
			}

		mf-form-row .row_settings
		{
			background: rgba(200, 200, 200, .3);
			border-radius: /*0 0 0 */.5em;
			display: none;
			padding: 1em;
			/*position: absolute;
			right: 0;
			top: 0;*/
		}

			mf-form-row:hover .row_settings, mf-form-row.active .row_settings
			{
				display: block;
			}

			mf-form-row .row_settings a
			{
				text-decoration: none;
			}

		.show_range input
		{
			margin-right: 1%;
			width: 24%;
		}

		.tr_select
		{
			margin-bottom: 10px;
		}

			.select_rows > div
			{
				overflow: hidden;
			}

				.select_rows > div .form_textfield
				{
					float: left;
				}

					.select_rows > div .form_textfield:first-child
					{
						margin-right: 2%;
						width: 10%;
					}

					.select_rows > div .form_textfield:last-child
					{
						width: 88%;
					}

			#add_option
			{
				color: #169328;
				cursor: pointer;
				font-size: 1.2em;
			}

	.flot_pie
	{
		float: left;
		height: 300px;
		margin-bottom: 20px;
		width: 400px;
	}
}