@media all
{
	.mf_form_inline
	{
		background: #fff;
		border: .2em solid #ccc;
		border-radius: .3em;
		display: none;
		padding: .8em .8em 0;
		position: absolute;
		min-width: 400px;
		max-width: 100%;
		z-index: 1;
	}

    .mf_form
    {
        overflow: hidden;   
    }
    
        .mf_form > div, .mf_form .clear.clear.clear
        {
            clear: both;
        }
    
        .mf_form .left_col
        {
            clear: left;
            float: left;
			margin-right: 2%;
            width: 48%;
        }
        
        .mf_form .right_col
        {
            clear: right;
            float: right;
			margin-left: 2%;
            width: 48%;
        }
        
        .mf_form label
        {
			cursor: pointer;
            display: block;
            margin-bottom: .3em;
        }

		/*.mf_form .form_textfield.red_border input, .mf_form .red_border select, .mf_form .red_border textarea
		{
			border-color: #f00 !important;
		}*/

        .mf_form .form_textfield input, .mf_form select, .mf_form textarea, .mf_form .form_password input
        {
            background: #fff;
			background: rgba(255, 255, 255, .8);
            border: .2em solid #ccc;
            border-radius: .3em;
			box-sizing: border-box;
            display: inline-block;
			font: inherit;
            height: auto;
            margin: 0 0 .8em;
            padding: .4em;
			width: 100%;
        }

		.mf_form .wp-editor-wrap
		{
			margin: 0 0 .8em;
		}

			.mf_form .form_textfield input:focus, .mf_form select:focus, .mf_form textarea:focus, .mf_form .form_password input:focus
			{
				border-color: #999;
				outline: none;
			}

			/*.mf_form .form_textfield input:valid, .mf_form select:valid, .mf_form textarea:valid, .mf_form .form_password input:valid
			{
				background: rgba(217, 241, 191, .3);
			}

				.mf_form .form_textfield input:valid:focus, .mf_form select:valid:focus, .mf_form textarea:valid:focus, .mf_form .form_password input:valid:focus
				{
					background: #d9f1bf;
				}

			.mf_form .form_textfield input:invalid, .mf_form select:invalid, .mf_form textarea:invalid, .mf_form .form_password input:invalid
			{
				background: rgba(251, 227, 228, .3);
			}

				.mf_form .form_textfield input:invalid:focus, .mf_form select:invalid:focus, .mf_form textarea:invalid:focus, .mf_form .form_password input:invalid:focus
				{
					background: #fbe3e4;
				}*/

			/*.mf_form .form_textfield input[type=date], .mf_form .form_textfield input[type=number]
			{
				max-width: 140px;
			}*/

		.mf_form .form_select .description
		{
			margin: -5px 0 10px;
		}
    
		.mf_form .form_checkbox, .mf_form .form_radio
        {
            margin-bottom: 10px;
        }
    
			.mf_form .form_checkbox label, .mf_form .form_radio label
			{
				display: inline;
			}
    
            .mf_form .form_checkbox input, .mf_form .form_radio input
            {
				display: inline;
                margin-right: 5px;
            }
    
                .mf_form .input-buttons.input-button-size-2
				{
					margin-left: -43px;
				}

			/* ####################### */
			.mf_form.mf_improve_ux > .form_checkbox, .mf_form.mf_improve_ux > .form_radio
			{
				clear: none;
				float: left;
			}

				.mf_form.mf_improve_ux > .form_checkbox input[type=checkbox], .mf_form.mf_improve_ux > .form_radio input[type=radio]
				{
					display: none;
				}

				.mf_form.mf_improve_ux > .form_checkbox input[type=checkbox] + label, .mf_form.mf_improve_ux > .form_radio input[type=radio] + label
				{
					display: block;
					cursor: pointer;
					padding: 8px 14px;
					background: #f5f5f5;
					background: linear-gradient(to bottom, #fff, #e6e6e6);
					border: 1px solid #e6e6e6;
					border-bottom-color: #c3c3c3;
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
				}

					.mf_form.mf_improve_ux > .form_checkbox input[type=checkbox]:checked + label, .mf_form.mf_improve_ux > .form_radio input[type=radio]:checked + label
					{
						background: #e0e0e0;
						box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
					}
			/* ####################### */

			.mf_form .form_zipcode span
			{
				padding-left: 10px;
			}

		.mf_form .form_button > button, .mf_form .form_button > .button
		{
			border: .2em solid #ccc;
			border-radius: .3em;
			cursor: pointer;
			display: inline-block;
			font: inherit;
			margin: 0 .7em .7em 0;
			padding: .3em 1em .3em;
		}

	.mf_form_results .form_radio
	{
		position: relative;
	}

		.mf_form_results .form_radio > div
		{
			background: rgba(255, 255, 255, .2);
			position: absolute;
		}

		.mf_form_results .form_radio p
		{
			margin: 0;
			position: relative;
		}

		.mf_form_results .form_radio p span
		{
			position: absolute;
			right: 0;
		}
}