@media all
{
	/*.mf_form .left_col
	{
		clear: left;
		float: left;
		margin-right: 2%;
		width: 48%;
	}

	.mf_form .right_col
	{
		clear: right;
		float: right;
		margin-left: 2%;
		width: 48%;
	}

	.mf_form .form_textfield.reverse
	{
		overflow: hidden;
	}

		.mf_form .form_textfield.reverse label
		{
			float: right;
			line-height: 2.8;
			padding-left: 0;
			padding-right: 0;
			width: 80%;
		}

		.mf_form .form_textfield.reverse input
		{
			float: left;
			width: 18%;
		}*/

	.mf_form .form_textfield.form_check
	{
        height: 0;
        left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
        width: 0;
		z-index: -1;
	}

	.mf_form .form_radio_multiple.inactive
	{
		opacity: .5;
	}

		.mf_form .form_radio_multiple.inactive:hover
		{
			opacity: 1;
		}

	/*.mf_form_results .form_radio
	{
		margin-bottom: .1em;
		padding: .3em 0;
		position: relative;
	}

		.mf_form_results .form_radio > div
		{
			background: rgba(200, 200, 200, .4);
			position: absolute;
			top: 0;
			bottom: 0;
		}

		.mf_form_results .form_radio p
		{
			margin: 0;
			position: relative;
		}

			.mf_form_results .form_radio div + p
			{
				padding-left: .3em;
			}

		.mf_form_results .form_radio p span
		{
			position: absolute;
			right: .3em;
		}*/
}