@media all
{
	.row-actions > ul
	{
		margin: 0;
	}

	.widefat thead th, .row-actions li
	{
		white-space: nowrap;
	}

	.alignleft, .alignright
	{
		width: 50%;
	}

	.mf_form
	{
		overflow: initial;
	}

		.mf_settings .alignleft
		{
			margin-right: 3%;
			width: 47%;
		}

			.mf_settings .form_textfield input, .mf_settings select, .mf_settings textarea, .mf_settings .form_password input
			{
				width: 100%;
			}

			.mf_form .alignleft, .mf_form .alignright
			{
				clear: none;
			}

			.mf_form .form_select.fontawesome select
			{
				font-family: 'FontAwesome', 'Helvetica';
			}

	mf-form-row
	{
		border: .1em solid transparent;
		border-radius: .5em;
		box-sizing: border-box;
		cursor: move;
		display: block;
		min-height: 4em;
		margin: .5em;
		position: relative;
		padding: .5em;
	}

		mf-form-row:hover
		{
			background: #eee;
			border-color: #ccc;
		}

		mf-form-row.active
		{
			background: #fff6bf;
			border-color: #ffd324;
		}

		mf-form-row > .row_icons
		{
			border: .1em solid transparent;
			border-left: 0;
			border-radius: 0 .5em .5em 0;
			display: none;
			font-size: 1.5em;
			padding: .3em;
			position: absolute;
			right: -2.4em;
			top: .5em;
		}

			mf-form-row:hover .row_icons
			{
				background: #eee;
				border-color: #ccc;
				display: block;
			}

				mf-form-row:hover .row_icons .fa.fa-info-circle
				{
					display: block;
				}

				mf-form-row:hover .row_icons .fa.fa-close
				{
					display: none;
				}
		
			mf-form-row.active .row_icons
			{
				background: #fff6bf;
				border-color: #ffd324;
				display: block;
			}

				mf-form-row.active .row_icons .fa.fa-info-circle
				{
					display: none;
				}

				mf-form-row.active .row_icons .fa.fa-close
				{
					display: block;
				}

		mf-form-row .row_settings
		{
			background: rgba(255, 255, 255, .8);
			border: .1em solid #ccc;
			border-radius: .5em;
			display: none;
			padding: 1em;
			position: absolute;
			right: .5em;
			width: 50%;
			z-index: 1;	
		}

			mf-form-row.active .row_settings
			{
				display: block;
			}

			mf-form-row .row_settings a
			{
				text-decoration: none;
			}

		.show_range input
		{
			margin-right: 1%;
			width: 24%;
		}

		.tr_select
		{
			margin-bottom: 10px;
		}

			.select_rows .option
			{
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				overflow: hidden;
			}

				.select_rows .option > *
				{
					display: block;
					-webkit-box-flex: 0 1 0;
					-webkit-flex: 0 1 0;
					-ms-flex: 0 1 0;
					flex: 0 1 0;
				}

					.select_rows .option .form_textfield:nth-child(1)
					{
						min-width: 25px;
					}

					.select_rows .option .form_textfield:nth-child(2)
					{
						-webkit-box-flex: 2 1 0;
						-webkit-flex: 2 1 0;
						-ms-flex: 2 1 0;
						flex: 2 1 0;
						margin: 0 .5em;
					}

					.select_rows .option .form_textfield:nth-child(3)
					{
						min-width: 45px;
					}

	.flot_wrapper
	{
		overflow: hidden;
	}

		.flot_pie
		{
			float: left;
			height: 300px;
			margin-bottom: 20px;
			width: 400px;
		}

			.pieLabel
			{
				background: #333;
				background: rgba(0, 0, 0, .5);
				border-radius: .5em;
				color: #fff;
				padding: .5em;
			}
}